#page-box {
	 /* Alignment */
	 min-width: 80%;
	 max-width: 90%;
	 margin: 0 auto 0 auto;
}

#page-content {
	 /* Alignment */
	 width: $header-img-size;
	 margin: 0 auto 0 auto;
}

#page-title {
	font-family: $heading-font;
	font-size: 2em;
	
}

form {
	width: 22.55em;
	margin: 0 auto 2em auto; 
}
 